.DS_Store
.vscode
build/

/netlist/src/*.hex
/netlist/src/*.elf*
/netlist/src/*.o
/netlist/src/*.bin*
/netlist/src/objs
/netlist/src/hex
*.vcd
*.vvp

/doc/stm32f103c8t6/
/doc/datasheet
/doc/examples

# These are folders during testing
/netlist/vivado
/netlist/platformio
/netlist/ice40